body {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#container {
    border-style: dashed;
    border-color: aquamarine;
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    margin: auto;  
}

button {
    margin: 2em;
    align-self: center;
}

div {
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 0;
    margin: 0px;
}

.coloredDiv {
    background-color: teal;
}